[user]
	name = allan bailey
	email = allan@zirpu.org
[color]
	branch = auto
	diff = auto
	status = auto
[alias]
	co = checkout
	logt = log --graph --decorate --pretty=oneline --abbrev-commit --all

[gc]
	auto = 1

[push]
	default = simple
