*.bak
*.out
*.pex
*.retry
.*~
.CFUserTextEncoding
.FAHClient
.ICEauthority
.VirtualBox
.Xauthority
.ansible
.aptitude
.aws
.bash_history
.bitmonero
.cache
.cargo
.config
.cookie*
.cups
.dbus
.docker*
.emacs.d/info
.fetchmailrc
.gconf*
.gnome
.gnome2
.gnupg
.gtk*
.local
.nv
.pip
.procmailrc
.rnd
.rustup
.shared-ringdb
.ssh
.steam*
.sudo_as_admin_successful
.vagrant/
.vendetta
.vim
.viminfo
.virtualenvs
.weechat
.wget*
.wireshark
.xsession-errors*
Desktop
Documents
Downloads
Monero
Music
Pictures
Videos
VirtualBox VMs
bin/terraform
bin/tmuxp
bin/vault
bin/vendetta
go
misc
net/
org
src
tmp
work
z.old/
z/
.mozilla/
.vagrant.d/
.pki/
.pulse-cookie
mail
projects/
.subversion
.emacs.d/bookmarks
.lesshst
