*.bak
*.out
*.pex
*.retry
.*~
.CFUserTextEncoding
.FAHClient
.ICEauthority
.VirtualBox
.Xauthority
.ansible
.aptitude
.aws
.bash_history
.bash_it
.bitmonero
.cache
.cargo
.config
.cookie*
.cups
.dbus
.docker*
.emacs.d/bookmarks
.emacs.d/info
.emacs.d/transient
.fetchmailrc
.gconf*
.gem
.gnome
.gnome2
.gnupg
.gtk*
.lesshst
.local
.mozilla/
.nv
.pam_environment
.pip
.pki/
.procmailrc
.pulse-cookie
.rnd
.rustup
.shared-ringdb
.ssh
.steam*
.subversion
.sudo_as_admin_successful
.vagrant.d/
.vagrant/
.vendetta
.vim
.viminfo
.virtualenvs
.weechat
.wget*
.wireshark
.xsession-errors*
Desktop
Documents
Downloads
Monero
Music
Pictures
Videos
VirtualBox VMs
bin/terraform
bin/tmuxp
bin/vault
bin/vendetta
go
mail
misc
net/
org
projects/
src
tmp
work
z.old/
z/
.ipython
